.home-container{
    margin-top: 180px;
    padding-left: 120px;
}

.title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    letter-spacing: 0.02em;
    padding-bottom: 25px;
    color: #062847;
}

.home-description {
    width: 612px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #5A6774
}

.email {
    color: #1890FF;
}



