.button-menu {
    width: 100px;
    height: 40px;
    background: #1890FF;
    border-radius: 5px;
}

.button-text {
    margin-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


