.result-container {
    padding-top: 23px;
    padding-bottom: 27px;
    border-radius: 8px;
    background: #f5f5f5;
}

.result-row {
    height: 280px;
    display: flex;
    padding-right: 23px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.result-btn {
    margin-left: 30px;
}

.image {
    width: 284px;
    margin-right: 45px;
}

.result-col-2 {
    display: block;
    width: calc(100% - 315px);
}

.info-container {
    height: calc(100% - 35px);
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
}

.statistics-container {
    height: 22px;
    display: flex;
    gap: 8px;
    margin-bottom: 13px;
}

.statistics {
    padding: 1px 14px 1px 14px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
}

.text-statistics {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: #595959;
}

.info-title {
    margin-top: 8px;
    margin-bottom: 19px;
    margin-left: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #1890ff;
}

.info-input {
    display: flex;
    height: 40px;
    margin-bottom: 5px;
    margin-left: 14px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    width: calc(100% - 31px);
}

.text-input {
    margin-left: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
}

.label-text {
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
}